/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f4f4f4;
}



header{
    width:100%;
    background:#111;
    color:white;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 80px;
}


.logo{
    font-size:32px;
    font-weight:bold;
    color:#ffcc00;
}

/* Navigation */

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin-left:30px;
}

nav ul li a{
    text-decoration:none;
    color:white;
    font-size:18px;
    transition:0.3s;
}

nav ul li a:hover{
    color:#ffcc00;
}

/* Hero Section */

.hero{
    width:100%;
    height:90vh;

    background-image:url("assets/car_poster3.jpg");
    background-size:cover;
    background-position:center;

    display:flex;
    align-items:center;
}

/* Dark Overlay */

.overlay{
    background:rgba(0,0,0,0.5);
    width:100%;
    height:100%;

    display:flex;
    flex-direction:column;
    justify-content:center;

    padding-left:80px;
}

/* Hero Heading */

.overlay h2{
    color:white;
    font-size:60px;
    margin-bottom:20px;
}

/* Hero Paragraph */

.overlay p{
    color:white;
    font-size:20px;
    width:500px;
    line-height:35px;
    margin-bottom:30px;
}

/* Button */

.btn{
    width:180px;
    text-align:center;
    text-decoration:none;

    background:#ffcc00;
    color:black;

    padding:15px 25px;
    border-radius:6px;

    font-size:18px;
    font-weight:bold;

    transition:0.3s;
}

.btn:hover{
    background:orange;
    color:white;
}

/* About Section */

.about{
    padding:70px;
    text-align:center;
    background:white;
}

.about h2{
    font-size:40px;
    margin-bottom:20px;
}

.about p{
    width:80%;
    margin:auto;
    font-size:20px;
    line-height:35px;
    color:#555;
}

/* Footer */

footer{
    background:#111;
    color:white;
    text-align:center;
    padding:20px;
    font-size:18px;
}